@media only screen and (max-width: 600px) {

    .project-image {
        height: 9rem;
    }

    .link-div:hover h3 {
        background: var(--redHover);
        transition: var(--buttonTransitionPreset);
    }

}