@media only screen and (max-width: 600px) {

    .filter-nav {
        display: none;
        left: 0;
        margin: 0 -7vw;
        padding: 0.5rem;
        width: 100vw;
        border-radius: 0rem;
        transform: translateX(0);
    }
    
    .filter-nav-row {
        flex-wrap: wrap;
    }

    .filter-nav-dropdown {
        display: block;
        margin: 0 -7vw;
        padding: 1rem;
        background: var(--white);
        color: var(--black);
        text-align: center;        
    }

}