.description:nth-child(1) {
    color: var(--orange);
    font-weight: bold;
}

.background-image {
    position: relative;
    width: 100%;
    height: 14rem;
    overflow: hidden;
}

.background-image::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    border: 3px solid rgba(136, 136, 136, 0.8);
}

.background-image img {
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: auto;
}

.stony-brook-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10%;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    background: rgba(128, 128, 128, 0.3);
}

.sbu-image-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
}

.sbu-image {
    position: absolute;
    z-index: 1;
    top: -45%;
    width: 100%;
    height: auto;
}

.sbu-image-mask {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.seawolf-image {
    padding-right: 1rem;
    width: auto;
    height: 70%;
}

.sbu-image-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-shadow: 2px 2px #000000;
}

.skill-bars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1.5em;
    width: 60%;
}

.skill {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0.4rem;
    height: 2rem;
    width: 100%;
    background: rgba(128, 128, 128, 0.9);
    font-size: 0.9em;
    pointer-events: none;
}

.skill-name {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5em;
    width: 20%;
    height: 100%;
    background-color: var(--red);
    text-align: right;
}

.skill-percentage {
    height: 100%;
    background-color: var(--redHover);
    text-align: right;
}

.skill label {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 5px;
    height: 100%;
}

@media only screen and (max-width: 600px) {

    .background-image {
        height: 8rem;
    }
    
    .background-image img {
        bottom: 0%;
    }
    
    .stony-brook-container {
        margin: 0 -7vw;
        margin-bottom: 10%;
        width: 100vw;
        border-radius: 0px;
    }
    
    .sbu-image-wrapper {
        justify-content: space-around;
        height: 8rem;
    }
    
    .sbu-image {
        top: 0%;
        width: auto;
        height: 100%;
    }

    .sbu-image-mask {
        justify-content: center;
        padding: 0 0.5rem;
    }
    
    .seawolf-image {
        padding: 0;
        padding-right: 0.5rem;
        width: auto;
        height: 40%;
    }
    
    .sbu-image-description {
        font-size: 0.8em;
        text-shadow: 1px 1px #000000;
    }
    
    .skill-bars {
        margin-top: 1rem;
        width: 100%;
    }
    
    .skill {
        margin: 0.3rem 0;
        height: 2rem;
        font-size: 0.7em;
    }

}