.App {
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--white);
}

.page-container {
    overflow-y: auto;
}

.page-header {
    margin: 0 20%;
    padding-top: 4rem;
    padding-bottom: 0rem;
    text-align: right;
}

.title-heading {
    pointer-events: none;
    font-size: 3rem;
}

.page-body {
    margin: 0 20%;
    margin-top: 3%;
}

.description {
    margin: 3% 0;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {

    .page-header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin: 0;
        margin-bottom: 2rem;
        padding: 2.5rem 0;
        width: 100%;
        background: rgba(100, 100, 100, 0.8);
        pointer-events: none;
    }
    
    .title-heading {
        pointer-events: none;
        font-size: 2em;
    }

    .title-underline {
        width: 20%;
        height: 4px;
        margin-top: 0.5em;
        background: var(--white);
        border-radius: 8px;
    }
    
    .page-body {
        margin: 0 7%;
        font-size: 16px;
    }

    .description {
        margin: 5% 0;
    }

}