.filter-nav-tag {
    flex-grow: 1;
    margin: 0 0.3rem;
    padding: 0.7rem;
    border-radius: 0.3rem;
    background-color: var(--darkGray);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: var(--buttonTransitionPreset);
}

.filter-nav-tag > p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-nav-tag-selected {
    flex-grow: 1;
    margin: 0 0.3rem;
    padding: 0.7rem;
    border-radius: 0.3rem;
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: var(--buttonTransitionPreset);
}

.filter-nav-tag-selected > p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}