.home-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    transform: translateX(5vw);
}

.text-container {
    /* margin-bottom: 18vh; */
    text-align: center;
}

.text-container h1 {
    font-size: 3.8em;
}

.text-container h2 {
    font-size: 1.1em;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3em;
    width: 100%;
}

.home-button {
    width: 35%;
    height: 2.5rem;
    border: solid 3px var(--black);
    border-radius: 10px;
    outline: none;
    background: var(--red);
    color: var(--white);
    font-size: 0.8em;
    text-align: center;
    transition: var(--buttonTransitionPreset);
}

.home-image-container {
    position: relative;
    overflow: hidden;
    width: 35rem;
    height: 35rem;
    transform: translateX(3vw);
}

.home-image-container img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    transform: scale(1.0);
    transition: var(--transitionPreset);
}

@media only screen and (min-width: 600px) {

    /* Hover effects only on desktop */

    .home-button:hover {
        background: var(--redHover);
        cursor: pointer;
        transition: var(--buttonTransitionPreset);
    }

    .home-image-container:hover img {
        transform: scale(1.05);
        transition: var(--transitionPreset);
    }

}

@media only screen and (max-width: 600px) {

    .home-container {
        flex-direction: column;
        justify-content: space-around;
        height: calc(var(--vh, 1vh) * 100);
    }
    
    .header-container {
        transform: translateX(0vw);
    }
    
    .text-container {
        margin-bottom: 0vh;
        width: 100%;
    }
    
    .text-container h1 {
        margin: 0.5em;
        height: 2.5em;
        border-radius: 5px;
        background: rgba(100, 100, 100, 0.8);
        font-size: 2.2em;
        line-height: 1.2em;
    }
    
    .text-container h2 {
        margin-top: -0.8em;
        font-size: 0.6em;
    }
    
    .button-container {
        margin: 1em 0;
    }
    
    .home-image-container {
        width: 20rem;
        height: 20rem;
        transform: translateX(0vw);
    }

}