.navbar-container {
    position: fixed;
    width: 100%;
    z-index: 50;
    font-size: 1.5vw;
    font-weight: bold;
}

.navbar-button {
    position: fixed;
    z-index: 100;
    top: 1em;
    right: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem; 
    cursor: pointer;
    transition: var(--transitionPreset);
}

.navbar-button-selected {
    position: fixed;
    z-index: 100;
    top: 1em;
    right: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem; 
    cursor: pointer;
    transition: var(--transitionPreset);
}

.navbar-hexagon {
    position: absolute;
    top: 0;
    z-index: 1;
    display: inline-block;
    width: 57.735%;
    height: 100%;
    background:  var(--gray);
    transition: var(--transitionPreset);

}

.navbar-hexagon:before,
.navbar-hexagon:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    background: inherit;
    width: 100%;
    height: 100%;
    transform-origin: center;
}

.navbar-hexagon:before {
    transform: rotate(60deg);
}

.navbar-hexagon:after {
    transform: rotate(-60deg);
}

.navbar-burger {
    z-index: 2;
    width: 60%;
    height: 5%;
    border-radius: 6px;
    background-color: var(--white);
    transition: var(--transitionPreset);
}

.navbar-burger::before, .navbar-burger::after {
    z-index: 2;
    content: '';
    position: absolute;
    width: 60%;
    height: 5%;
    border-radius: 6px;
    background-color: var(--white);
    transition: var(--transitionPreset);
}

.navbar-burger::before{
    transform: translateY(-10px);
}

.navbar-burger::after{
    transform: translateY(10px);
}

.navbar-button-selected .navbar-burger{
    background: transparent;
    box-shadow: none;
}

.navbar-button-selected .navbar-burger::before{
    transform: rotate(135deg);
}

.navbar-button-selected .navbar-burger::after{
    transform: rotate(-135deg);
}

.navbar-wrapper {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: var(--lightGray);
    opacity: 0;
    font-size: 1.5vw;
    font-weight: bold;
    pointer-events: none;
    transition: var(--transitionPreset);
    animation-fill-mode: forwards;
}

.navbar-wrapper a {
    color: inherit;
    text-decoration: none;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 5.6rem;
    background: var(--gray);
    transition: var(--buttonTransitionPreset);
}

.link-container h1 {
    font-size: 1.3em;
}

@media only screen and (min-width: 600px) {

    /* Hover effects only on desktop */

    .navbar-button:hover .navbar-burger::before{
        transform: translateY(-13px);
    }
    
    .navbar-button:hover .navbar-burger::after{
        transform: translateY(13px);
    }
    
    .navbar-button:hover .navbar-hexagon{
        transform: rotate(90deg);
    }
    
    .navbar-button-selected:hover .navbar-hexagon{
        transform: rotate(90deg);
    }

    .link-container:hover {
        background: rgba(0,0,0,0.5);
    }

}

@media only screen and (max-width: 600px) {
    
    .navbar-button {
        top: calc(var(--vh, 1vh) * 88);
        left: 3em;
        width: 2.5rem;
        height: 2.5rem; 
    }

    .navbar-button-selected {
        top: calc(var(--vh, 1vh) * 88);
        left: 3em;
        width: 2.5rem;
        height: 2.5rem; 
    }
    
    .navbar-button-selected .navbar-hexagon{
        transform: rotate(90deg);
    }
    
    .navbar-wrapper {
        height: calc(var(--vh, 1vh) * 100);
    }
    
    .link-container {
        width: 80vw;
        height: 12vh;
    }
    
    .link-container h1 {
        font-size: 4.5em;
    }

}