#portfolioContainer {
    left: 0;
    width: 100%;
    height: 0;
}

#returnPortfolio {
    width: 100%;
    height: 0;
}

.contentTitle h1 {
    font-size: 2.5vw;
}

.portfolioContentSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2vw;
}

.sectionInfo {
    height: 15vw;
    width: 35vw;
    padding: 1vw;
    text-align: left;
}

.sectionInfo h2 {
    font-size: 1.5vw;
    margin-bottom: 2vh;
}

.sectionInfo p {
    font-size: 1.1vw;
}

.sectionImage {
    position: relative;
    width: 15vw;
    height: 15vw;
    background-color: #282c34;
}

.sectionImage img {
    width: 100%;
    height: auto;
}

.imageHoverDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #282c343a;
    transition: 0.3s;
}

.imageHoverDiv:hover {
    opacity: 1;
}

.imageHoverDiv a {
    text-decoration: none;
    color: #e6e6e6;
}

.linkDiv {
    position: relative;
    top: 0;
    width: 100%;
    height: 50%;
    opacity: 0;
    background-color: #282c348e;
    transition: 0.3s;
}

.linkDiv:hover {
    opacity: 1;
}

.linkDiv h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 200%;
}