.preloader-container {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--lightGray);
}

.preloader-container-complete {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 0;
    background-color: var(--lightGray);
    transition: all 1s;
    transition-delay: 1.3s;
}

.preloader-header {
    margin-bottom: 3em;
    font-size: 1.2em;
    letter-spacing: .15em;
}

.preloader-header-complete {
    margin-bottom: 3em;
    opacity: 0;
    font-size: 1.2em;
    letter-spacing: .15em;
    transition: all 1s;
    transition-delay: 0.5s;
    transform: translateY(-10vh);
}

.preloader-bar {
    position: relative;
    width: 40%;
    height: 0.6rem;
    border-radius: 1rem;
    background-color: var(--black);
}

.preloader-bar-complete {
    position: relative;
    width: 40%;
    height: 0.6rem;
    border-radius: 1rem;
    background-color: var(--black);
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0.5s;
}

.preloader-bar-progress {
    position: absolute;
    background-color: var(--red);
    border-radius: 1rem;
    width: 0%;
    height: 100%;
    transition: 0.3s;
}