@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

* {
  font-family: "Catamaran", sans-serif;
}

body {
  background-color: theme("colors.white-1");
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: theme("colors.black-1-t");
  border-radius: 1rem;
}
